@import "tailwindcss";
@plugin "daisyui";

/* Definir los colores de BDO */
:root {
  --bdo-red: #e81a3b;
  --bdo-blue: #22409a;
  --bdo-burgundy: #98002e;
  --bdo-charcoal: #333333;
  --bdo-slate: #5b6e7f;
  --bdo-gold: #d67900;
  --bdo-jade: #009966;
  --bdo-ocean: #008fd2;

  --text-primary: var(--bdo-charcoal);
  --background-primary: white;
}

/* General */
body {
  font-family: "Arial", sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

/* Estilos de enlaces */
a {
  font-weight: 500;
  color: var(--bdo-blue);
  text-decoration: inherit;
}
a:hover {
  color: #1a3372;
}

/* Botones */
.btn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  transition: background-color 0.25s, transform 0.1s ease-in-out;
}

.btn-red {
  background-color: var(--bdo-red);
  color: white;
}
.btn-red:hover {
  background-color: #c71734;
  transform: scale(1.05);
}

.btn-blue {
  background-color: var(--bdo-blue);
  color: white;
}
.btn-blue:hover {
  background-color: #1a3372;
  transform: scale(1.05);
}

.btn-charcoal {
  background-color: var(--bdo-charcoal);
  color: white;
}
.btn-charcoal:hover {
  background-color: #252525;
  transform: scale(1.05);
}

/* Header */
.header {
  background-color: var(--bdo-red);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Tarjetas y elementos de contenido */
.card {
  background-color: var(--bdo-slate);
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Fondos */
.bg-bdo-red {
  background-color: var(--bdo-red);
}
.bg-bdo-blue {
  background-color: var(--bdo-blue);
}
.bg-bdo-charcoal {
  background-color: var(--bdo-charcoal);
}
.bg-bdo-slate {
  background-color: var(--bdo-slate);
}
